mat-toolbar {
  justify-content: space-between;
}

span,
a {
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: white;
  opacity: 0.55;
  margin: 0px 3px;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.rights {
  font-weight: 300;
}

.versionNumber {
  margin-left: 3px;
  font-weight: 300;
}
