<div class="wrapper">
  <mat-toolbar *ngIf="authService.isLoggedIn()" class="header" color="primary">
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <button class="ml-auto user-info-button" mat-button>
      <img class="avatar-img" [src]="authService.getLocalUser()?.AvatarImageUrl">
      {{authService.getLocalUser()?.Email}}
    </button>
    <button mat-raised-button (click)="authService.logout()">Logout</button>
  </mat-toolbar>
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer class="sidenav" mode="over">
      <mat-nav-list>
        <div class="p-3 d-flex justify-content-center align-items-center drawer-header">
          <img class="mr-3" src="https://intranet.wakala.it/images/logo-small.png">
          <span>Intranet</span>
        </div>
        <ng-container *ngFor="let item of sidenavService.Menu">

          <mat-list-item *ngIf="item.Type == 'Action'" [routerLink]="item.Link" routerLinkActive="active">
            <div class="d-flex align-content-center">
              <mat-icon>{{item.Icon}}</mat-icon>
              <span class="listItemText">{{item.Name}}</span>
            </div>
          </mat-list-item>
          
          <mat-expansion-panel *ngIf="item.Type == 'Panel'">
            <mat-expansion-panel-header>
              <div class="d-flex align-content-center">
                <mat-icon>{{item.Icon}}</mat-icon>
                <span class="listItemText">{{item.Name}}</span>
              </div>
            </mat-expansion-panel-header>
              <mat-list-item *ngFor="let child of item.Actions" [routerLink]="child.Link" routerLinkActive="active">
                <div class="d-flex align-content-center">
                  <mat-icon>{{child.Icon}}</mat-icon>
                  <span class="listItemText">{{child.Name}}</span>
                </div>
              </mat-list-item>
          </mat-expansion-panel>

        </ng-container>

      </mat-nav-list>
    </mat-drawer>
  
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

    <mat-toolbar *ngIf="authService.isLoggedIn()" class="footer" color="primary">
      <span class="text">
        Copyright © {{fullYear}}
        <a class="sitelink" href="https://www.wakala.it/">Wakala Srl</a>
        <span class="arr">All rights reserved</span>
      </span>
    </mat-toolbar>
  </mat-drawer-container>
</div>