.background {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s opacity;
    z-index: 99999999;
    background-color: rgba(0,0,0,0.4);
}

.background.show{
    pointer-events: auto;
    opacity: 1;
}
