<div class="container d-flex flex-column align-items-center py-5">
  <mat-card class="col-md-5 py-4 mt-5 d-flex flex-column text-center">
    <img class="mx-auto mb-4 wakalaLogo" src="https://intranet.wakala.it/images/logo-small.png">
    <form class="d-flex flex-column" #loginForm="ngForm" [formGroup]="loginFormGroup" (submit)="token(loginForm.value)">
      <mat-form-field class="w-100" hideRequiredMarker>
          <mat-label>E-Mail</mat-label>
          <input matInput formControlName="username" maxlength="50" required>
          <mat-error *ngIf="controls.username.errors?.required">Informazione obbligatoria</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100" hideRequiredMarker>
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePw ? 'password' : 'text'" formControlName="password" maxlength="20" required>
          <button mat-button matSuffix mat-icon-button type="button" aria-label="Clear" (click)="hidePw = !hidePw">
            <mat-icon>{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="controls.password.errors?.required">Informazione obbligatoria</mat-error>
      </mat-form-field>
      <button class="mt-3" [disabled]="!loginForm.valid" color="primary" mat-raised-button type="submit">Login</button>
    </form>        
  </mat-card>
</div>
